APP_NAME = {{.ProjectName}}

.PHONY: dev test build run tidy fmt lint

dev:
	{{ if .LiveReload }} air -c .air.toml {{ else }} go run . {{ end }}

test:
	go test ./...

build:
	go build -o bin/$(APP_NAME) $(CMD_DIR)

tidy:
	go mod tidy

fmt:
	gofmt -w .

lint:
	golint ./...